
prework/.DS_Store
.DS_Store
M1-W1-functions/your-code/.ipynb_checkpoints/main-checkpoint.ipynb
M1-W1-intro-pandas/your-code/.ipynb_checkpoints/main-checkpoint.ipynb
M1-W1-lambda-functions/your-code/.ipynb_checkpoints/main-checkpoint.ipynb
M1-W1-list-comprehension/your-code/.ipynb_checkpoints/main-checkpoint.ipynb
M1-W1-numpy/your-code/.ipynb_checkpoints/main-checkpoint.ipynb
M1-W1-string-operations/your-code/.ipynb_checkpoints/challenge-1-checkpoint.ipynb
M1-W1-string-operations/your-code/.ipynb_checkpoints/challenge-2-checkpoint.ipynb
M1-W1-tuple-set-dict/your-code/.ipynb_checkpoints/challenge-1-checkpoint.ipynb
M1-W1-tuple-set-dict/your-code/.ipynb_checkpoints/challenge-2-checkpoint.ipynb
M1-W1-tuple-set-dict/your-code/.ipynb_checkpoints/challenge-3-checkpoint.ipynb
M1-W2-data-cleaning/your-code/.ipynb_checkpoints/main-checkpoint.ipynb
